.AuthForm {
  padding: 20px;
}

.AuthForm-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.AuthForm-row {
  margin: 20px 0;
}

.AuthForm-input {
  display: flex;
  flex-direction: column;
  width: 203px;
}

.AuthForm-input:nth-child(2n) {
  margin-top: 20px;
}

.AuthForm-row_errors {
  color: #ff0000;
}
