.CommentCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 0 40px;
  margin-bottom: 30px;
}

.CommentCard-username {
  margin-right: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.15;
  color: #000000;
}

.CommentCard-active {
  margin-right: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.15;
  color: #535353;
}

.CommentCard-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  color: #666666;
}

.CommentCard-main {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #000000;
  max-width: 40vw;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.CommentCard-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  color: #0087e9;
  text-decoration: none;
  padding-left: 0;
  background: none;
  border: none;
}

.CommentCard-link:hover {
  cursor: pointer;
}
