/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {
  white-space: nowrap;
}

.BasketTool-content {
  flex-grow: 1;
}

.BasketTool-total {
  white-space: nowrap;
  font-weight: bold;
  margin: 0 20px;
}
