.ModalLayout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgb(0, 0, 0, 0.5);
  overflow-y: auto;
}

.ModalLayout.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalLayout-content {
  border-radius: 10px;
  padding: 2px;
  background: white;
  min-width: 960px;
  min-height: 400px;
}
